<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>632719999721-45hdcg0fime17huao3h4gi3gstl91iab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632719999721-45hdcg0fime17huao3h4gi3gstl91iab</string>
	<key>API_KEY</key>
	<string>AIzaSyBL-OwlXEopliws1KLEqbsTEi8DJiwLe5w</string>
	<key>GCM_SENDER_ID</key>
	<string>632719999721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fvb.notescanner</string>
	<key>PROJECT_ID</key>
	<string>notescanner-aadee</string>
	<key>STORAGE_BUCKET</key>
	<string>notescanner-aadee.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632719999721:ios:b8f19c0f25a18d83a4a678</string>
</dict>
</plist>